.doctor-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 1900px;
    margin: 0 auto; 
}

.doctor-row {
    display: flex;
    align-items: center;
    margin: 10px 0px 0px 0px;
    border-radius: 8px;
    height: 600px;
}

.doctor-info {
    flex: 1;
    padding: 0px 0px 31px 0px;
}

.doctor-column {
    height: 452px;
    width: 488px;
    margin: 0px 40px 0px 15px;
    border: 2px solid red;
    box-shadow: 0 -8px 8px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1); 
}

img {
    height: 452px;
    width: 488px;
    margin: 0px 40px 130px 15px;
    border-radius: 10px; 
    box-shadow: 0 8px 8px hwb(229 3% 7% / 0.102);
}

.card {
    border-radius: 10px;
    box-shadow: 0 -8px 8px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1); 
}

.appointment-button {
    display: inline-block;
    margin: 10px 0px 0px 900px;
    padding: 10px 15px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.appointment-button:hover {
    background-color: darkblue;
}

  
.custom-carousel-image {
    height: 300px;
    width: 100%;
    object-fit: cover; 
  }
  